.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border : 5px solid black;
    background-color:yellow;
    margin: 30px;
    @media (max-width: 900px){
        margin: 50px;
    }
}
.circle_blue{
    background-color: blue;
}
.circle_white{
    background-color: white;
}
.circle_red{
    background-color: red;
}
.circle_black{
    background-color: black;
}
.color_howered:hover {
    opacity: 50%;
}

