main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    height: 550px;
    background-color: red;
    border: 5px solid black;
    @media (max-width:900px) {
        height: 1200px;
    }
}

.bTw{
    position: absolute;
    right: 350px;
}
.zen{
    background-color: green;
}
