/* в этом файле принято писать общие стили */
body {
  margin: 0;
  padding: 0;
}
button{
  width: 100px;
  height: 50px;
  border: 10px solid rgb(233, 74, 17);
  background-color: rgb(255, 217, 0);
  color: white;
}
